a {
  color:#da781d;
  font-weight:bold;
  text-decoration:none;
}
h1 {
  text-indent:-9999px;
  width:470px;
  height:130px;
  background-image: url(../images/logo.png);
}

.section {
  overflow:hidden;
  padding-bottom:3em;
}

#welcome {
  padding:2em 0;
  margin-bottom:3em;
  background-color:#eee;
  width:100%;
}

#welcome .section {
  padding-bottom:0;
}

#footer {
  width:100%;
  text-align:center;
  font-size:75%;
  padding:2em 0;
  background-color:#eee;
}

#member-login {
  padding:.5em;
  background:#eee;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  right:20px;
  top:0;
  position:absolute;
}

#member-login a {
  color:#222;
  font-weight:normal;
  text-decoration:none;
}

.offer {
  padding:1em;
  background-color:#ccc;
}
.joining .who {
  margin:0;
  padding:0;
  font-size:150%;
  line-height:1em;
}
.joining .price {
  margin:0;
  padding:0;
  line-height:1em;
  font-size:240%;
  font-weight:bold;
}
.joining .price .buck {
  vertical-align:text-top;
  font-size:20px;
}
.joining .units {
  font-size:12px;
}

.trial-notice .ask {
  color:#555;
  padding-top:2em;
  font-size:400%;
}
.trial-notice .deal {
  color:#555;
  font-size:180%;
}
